function BatCatcherGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Cat.new 3
pop this 0
push constant 42
call Random.new 1
pop this 4
push constant 256
push constant 128
push constant 10
push this 4
call Bat.new 4
pop this 2
push constant 0
pop this 1
push constant 0
pop this 3
push pointer 0
return
function BatCatcherGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Cat.dispose 1
pop temp 0
push this 2
call Bat.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BatCatcherGame.moveCat 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Cat.moveUp 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Cat.moveDown 1
pop temp 0
label IF_FALSE1
push this 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Cat.moveLeft 1
pop temp 0
label IF_FALSE2
push this 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Cat.moveRight 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function BatCatcherGame.moveBat 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Bat.moveUp 1
pop temp 0
label IF_FALSE0
push this 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Bat.moveDown 1
pop temp 0
label IF_FALSE1
push this 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Bat.moveLeft 1
pop temp 0
label IF_FALSE2
push this 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Bat.moveRight 1
pop temp 0
label IF_FALSE3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function BatCatcherGame.touches 6
push argument 0
pop pointer 0
push this 0
call Cat.getX 1
pop local 0
push this 0
call Cat.getY 1
pop local 1
push this 0
call Cat.getSize 1
pop local 4
push this 2
call Bat.getX 1
pop local 2
push this 2
call Bat.getY 1
pop local 3
push this 2
call Bat.getSize 1
pop local 5
push local 0
push this 2
call Bat.getX 1
lt
push local 5
add
push local 0
push local 4
add
push local 2
gt
and
push local 1
push this 2
call Bat.getY 1
lt
push local 5
add
and
push local 1
push local 4
add
push local 3
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function BatCatcherGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
push this 4
push constant 3
call Random.randRange 2
pop this 3
label WHILE_EXP1
push local 1
push constant 0
eq
not
if-goto WHILE_END1
push pointer 0
call BatCatcherGame.touches 1
pop local 0
call Keyboard.keyPressed 0
pop local 1
push pointer 0
call BatCatcherGame.moveCat 1
pop temp 0
push pointer 0
call BatCatcherGame.moveBat 1
pop temp 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 81
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 2
label IF_FALSE1
push local 1
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 1
label IF_FALSE2
push local 1
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
pop this 1
label IF_FALSE3
push local 1
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 3
pop this 1
label IF_FALSE4
push local 1
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 4
pop this 1
label IF_FALSE5
label WHILE_EXP2
push local 1
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 1
push pointer 0
call BatCatcherGame.moveCat 1
pop temp 0
push pointer 0
call BatCatcherGame.moveBat 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
